<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="MobileOptimized" content="240" />
    <link rel="stylesheet" href="css/vtp.css">
    <title>微·推派</title>
</head>
<body>
    <header id="hd1">
        <div id="hright">
            <a class="icon_tpy" href="2.html"></a>
        </div>
        <div id="hleft">
            <img src="img/logo.png">
        </div>
    </header>
    <section id="cont">
        <div class="vedi">
            <p class="vtop"><span class="vtyp">最新</span><span class="vtit">Adele:Someone like you</span></p>
            <p class="vmid"><a href="3.html"><img src="video/20120820214903.png"></a></p>
            <p class="vbot"><a class="icon_intro"></a>Adele:Someone like you最新MV,bla bla...</p>
        </div>
      
         <div class="vedi">
            <p class="vtop"><span class="vtyp">最新</span><span class="vtit">Adele:Someone like you</span></p>
            <p class="vmid"><a href="3.html"><img src="video/20120820214903.png"></a></p>
            <p class="vbot"><a class="icon_intro"></a>Adele:Someone like you最新MV,bla bla...</p>
        </div>
        
         <div class="vedi">
            <p class="vtop"><span class="vtyp">最新</span><span class="vtit">Adele:Someone like you</span></p>
            <p class="vmid"><a href="3.html"><img src="video/20120820214903.png"></a></p>
            <p class="vbot"><a class="icon_intro"></a>Adele:Someone like you最新MV,bla bla...</p>
        </div>
        
         <div class="vedi">
            <p class="vtop"><span class="vtyp">最新</span><span class="vtit">Adele:Someone like you</span></p>
            <p class="vmid"><a href="3.html"><img src="video/20120820214903.png"></a></p>
            <p class="vbot"><a class="icon_intro"></a>Adele:Someone like you最新MV,bla bla...</p>
        </div>
        
         <div class="vedi">
            <p class="vtop"><span class="vtyp">最新</span><span class="vtit">Adele:Someone like you</span></p>
            <p class="vmid"><a href="3.html"><img src="video/20120820214903.png"></a></p>
            <p class="vbot"><a class="icon_intro"></a>Adele:Someone like you最新MV,bla bla...</p>
        </div>
        
         <div class="vedi">
            <p class="vtop"><span class="vtyp">最新</span><span class="vtit">Adele:Someone like you</span></p>
            <p class="vmid"><a href="3.html"><img src="video/20120820214903.png"></a></p>
            <p class="vbot"><a class="icon_intro"></a>Adele:Someone like you最新MV,bla bla...</p>
        </div>
    </section>
    <div id="more">查看更多</div>
</body>
</html>